

.form-container {
    width: 1184px;
    height: 650px;
    margin: 0 auto;
    padding: 20px;
   
    display: flex;
    flex-direction: column;
    gap: 60px;
}
.present{
    display: flex;
    width: 1184px;
    height: 60px;
    gap: 46px;
}
#name{
    width: 569px;
    height:auto;
    border:1px solid  #7EB693;
    border-radius: 16px;
}
#email{
    width: 569px;
    height:auto;
    border:1px solid  #7EB693;
    border-radius: 16px;
}
#company{
    width: 569px;
    height:auto;
    border:1px solid  #7EB693;
    border-radius: 16px;
    margin-left: 20px;

}
#subject{
    width: 569px;
    height:auto;
    border:1px solid  #7EB693;
    border-radius: 16px;
}

.present1{
    display: flex;
    width: 1184px;
    height: 60px;
    gap: 46px;
}
.present2{
    width: 1184px;
    height: 60px;
    border-radius: 16px;
}
#message{
    width: 1140px;
    height: 150px;
    border:1px solid  #7EB693;
}
#send-button{
    width: 220px;
    height: auto;
    display: flex;
    border-radius: 16px;
    padding: 28px  47px 29px 47px;
    color: #ffff;
    background-color:#274C5B;
    margin-top: 70px;

}

.form-container label {
    display: block;
    margin-bottom: 5px;
}

.form-container input[type="text"],
.form-container input[type="email"],
.form-container textarea {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-container button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
}

.form-container button:hover {
    background-color: #45a049;
}

.form-container p {
    text-align: center;
    font-style: italic;
    color: #ccc;
}
.bloc1_contact{
    width: 1920px;
    height: 700px;

}
.bloc1_contact{
    width: 1400px;
    height: 640px;
    display: flex;
    margin: 0 auto;
    gap: 75px;

}
.bloc2_contact{
    width: 702px;
    height: 569px;
    display: flex;
    flex-direction: column;

}
.bloc3_contact{
    width: 777px;
    height: 198px;
    display: flex;
    gap: 14px;

}
.lieu2{
    width: 690px;
    font-family: "Open Sans", sans-serif;
    font-weight: 400px;
    font-size: 18px;
    line-height: 29.77px;
    color: #525c60;
}
.titre_contact{
    font-family: "Roboto", sans-serif;
    width: 777.08px;
    height: 94px;
    font-weight: 800;
    font-size: 40px;
    line-height: 46.88px;
    color: #274C5B;

}

.Emplacement{
    max-width: 1920px ;
    height : 900px ;

}
.emplacement{
    max-width: 1400px ;
    width: 100%;
    height: 758px;
    margin: 0 auto;
    background-image: url('/organick/image/images/emplacement.png');
    margin-bottom: 100px;
    margin-top: 100px;

    display: flex;
    
}
.location{
    max-width: 514px;
    width: 100%;
    height: 514px;
    background-color: #ffffff;
    margin-left: 750px;
    margin-top: 100px;
    border-radius: 16px;
}
.content_location{
    width: 408px;
    height: 422px;
    display: flex;
    flex-direction: column;
    gap: 19px;
    margin: 0 auto;
}
.heading_location{
    width: 408px;
    height: 201px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    
}
.location_emp{

    font-family: "Yellowtail", cursive;
    color: #7EB693;
    font-size: 36px;
    line-height: 49.06px;
    width: 162px;
    height: 49px;
}
.ferme{
    font-family: "Roboto", sans-serif;
    width: 261px;
    height: 59px;
    margin-left: 21px;
    font-weight: 800;
    font-size: 50px;
    line-height: 50.59px;
    color: #274C5B;

}
.lorem_location{
    font-family: "Open Sans", sans-serif;
    font-weight: 408px;
    height: 90px;
    font-size: 18px;
    line-height: 29.77px;
    color: #525c60;
}
.adresse{
    width: 312px;
    height: 202px;
    display: flex ;
    flex-direction: column;
    gap: 22px;
}
.adresse1{
    width: 312pc;
    height: 90px;
    display: flex;

}
.lieu{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.lieu1{
    width: 256px;
    font-family: "Open Sans", sans-serif;
    font-weight: 700px;
    font-size: 18px;
    line-height: 29.77px;
    color: #525c60;
}



.lieu2{
    width: 256px;
    font-family: "Open Sans", sans-serif;
    font-weight: 700px;
    font-size: 18px;
    line-height: 29.77px;
    color: #525c60;
}